.btn{
    background-color: darkblue;
    color: white;
    width: 100px;
    height: 35px;
    
}

li{
    width: 300px;
    background-color: tan;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 3px;
}